@charset "UTF-8";

div#title {
    color : orangered;
    text-align: center;
    font-size: 35pt;
    font-weight: bold;
    background-color: #00001E;
    /* border-top: 1px  solid black; */
    border-bottom: 1px  solid black;
    text-shadow: 5px 2px 2px gray;
    padding: 0px;
    width: 100%;
}

button { /* 버튼 기본 스타일 */
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    border: none;
    margin: 8px 0;
    cursor: pointer;
  }
  
  button:hover {
    opacity: 0.8;
  }

  button.log{
    background-color:  white;
    color: black;
    text-align: right;
    font-weight: bold;
    margin: 4px;
    width: 100px;
    position: relative;
    float: right;
  }

  #main-menu > li {
    float: left;
      position: relative;
      width: 200px;
    }
  
  #main-menu > li > a {
    font-size: 0.85rem;
    color: rgba(255,255,255,0.85);
    text-align: center;
    text-decoration: none;
    letter-spacing: 0.05em;
    display: block;
    padding: 14px 36px;
    border-right: 1px solid rgba(0,0,0,0.15);
    text-shadow: 5px 2px 2px gray;
    
  }
  
  #main-menu > li:nth-child(1) > a {
    border-left: 1px solid rgba(0,0,0,0.15);
  }
  
  #sub-menu {
    position: absolute;
    background: #182952;
    opacity: 0;
    visibility: hidden;
    transition: all 0.15s ease-in;
    width: 200px;
    text-align: center;
  }
  
  #sub-menu > li {
    padding: 16px 28px;
    border-bottom: 1px solid rgba(0,0,0,0.15);
  }
  
  #sub-menu > li >  a {
    color: rgba(255,255,255,0.6);
    text-decoration: none;
  }
  
  #main-menu > li:hover #sub-menu {
    opacity: 1;
    visibility: visible;
  }
  
  #sub-menu > li >  a:hover {
   text-decoration: underline;
  }
  body {
    margin: 0;
    padding: 0;
    /* font-family: "Roboto", serif; */
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;  
  }
  
  h1 {
    margin: 2em 0 1.5em 0;
  }
  
  nav {
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    background-color: #00001E;
    /* background: linear-gradient(to right, #0D3FA5, #3163C9, #6799FF, #8BBDFF, #8BBDFF); */
  }
  
  ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
  }